@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/*BOTONES */

/*CARRUSEL*/

    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

    .swiper {
        width: 100%;
        height: 100%;
      }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

    .swiper-slide img {
        display: block;
        width: 50%;
        height: 30%;
        object-fit: cover;
    }


.navbar {

    font-weight: bold;
    color: black;
}


.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    border-color: black;
}

.btn:hover {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: brown;
}

.titleCenter {

    font-size: 20px;
    text-align: center;

}

.titleCenter:hover {

    font-size: 20px;
    text-align: center;

}

.contiene5Cajas {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin: 40px;
    margin-top: 90px;
}

.boxConfort {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.boxConfort img {

    border-radius: 20px;

}

.boxConfort1 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.boxConfort1 img {

    border-radius: 20px;

}

.box {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box:hover {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
    transition-duration: unset;
}

h1 {

    text-align: center;


}

h4 {

    text-align: center;
    font-weight: bold;
}

h5 {

    text-align: start;
    margin-left: 50px;

}

h6 {

    text-align: center;
    font-weight: bold;

}

h6:hover {

    text-align: center;

}
#serv {

    border: outset;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin: 20px;
}

#serv:hover {

    border: outset;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin: 20px;
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow:hidden;
}

.tituloSucursal{
    margin-left: 30px;
}

.contieneTodo{

    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;

}

iframe{
    width: 100%;

}

.contieneTodoServicios {

    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.contieneTodoServicios img{
    width: auto;
}

.textoPVTA img {
    width: auto;
}

.contieneSucursales{

    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;

}

.sucursales{

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.direccion{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.telefonos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 30px;
}

.contiene3Footers {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 80px;

}

a {

    text-decoration: none;
    color: black;

}

a:hover {

    text-decoration: none;
    color: red;

}

#etios2 {

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.titles {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.titles h3 {

    font-weight: bold;


}

.subtitles{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;


}

.subtitles h3 {

    font-weight: bold;


}

.subtitles img {

width: 100%;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;

}

.subtitles p {

    padding-left: 30px;
    padding-right: 30px;

}

.internos{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.internos h5 {

    text-align: start;


}

button {

    border-radius: 20px;
    padding: 10px;
    background-color: white;

}

button:hover {

    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;

}

.row {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*PAGINAS POR AUTO*/

.tituloPropio{

    margin-top: 50px;

}

/*FORMULARIO DE CONTACTO*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: brown;
}

.containerF {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
}

.tituloRecall{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.tituloRecall h6{
    font-size: large;
    font-weight: 400;
}

.contiene2Recall{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.recalluno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
    padding: 10px;
}

.recalluno h3 {

    text-align: left;

}

.recalluno h6 {

    text-align: left;
    font-size: large;
    font-weight: 400;

}
.garantia{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.garantia img {
    width: 100%;
    
}

.garantia p{
    text-align: center;
    padding: 10px 50px 15px 50px;
}

.garantia h3{
    text-align: center;
    font-weight: bold;
    padding: 10px 50px 15px 50px;
}
/*BOTON WHATSAPP*/

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    margin-top:13px;
}



/* TABLET */
@media (min-width: 768px) {

    .nav-item {
        margin-left: 60px;
    }

    .titleCenter {

        font-size: 30px;
        text-align: center;
    
    }

    .titleCenter:hover {

        font-size: 30px;
        text-align: center;

    }

    .row {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
    }

    .contiene5Cajas {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 150px;
        margin: 40px;
    
    }

    .box {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    #serv {

        border: outset;
        border-radius: 20px;
        height: 250px;
        width: 250px;
        
    }

    #serv:hover {

        border: outset;
        border-radius: 20px;
        height: 200px;
        width: 200px;
        margin: 20px;
        -webkit-transform:scale(1.5);transform:scale(1.5);
        overflow:hidden;
    }

    /*BOTON WHATSAPP*/

    .whatsapp {
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }
    
    .whatsapp-icon {
        margin-top:13px;
    }

}

/*DESKTOP*/
@media (min-width: 1024px) {

    .nav-item {
        margin-left: 60px;
        color: #000;
    }

    .titleCenter {

        font-size: 35px;
        text-align: center;
    
    }

    .titleCenter:hover {

        font-size: 35px;
        text-align: center;
    }

    .row {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;    

    }

    #etios2 {

        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    
    }

    .titles {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
    
    }
    
    .internos{
    
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    
    
    
    }
    .titles h3 {
    
        font-weight: bold;
    
    
    }

    .subtitles{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
    
    }
    
    .subtitles h3 {
    
        font-weight: bold;
        text-align: center;
        padding: 0;
    }

    .subtitles p {

        padding: 0;
        align-items: flex-start;


    }

    .subtitles img {

        width: 100%;   
        border-radius: 20px;

    }
    
    .boxConfort {

        padding: 25px;
        text-align:  center;


    }

    .boxConfort1 {

    
        padding: 25px;
        text-align: center;
        margin-top: 20px;

    }

    .contiene2Cajas {

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 45%;
        margin: 40px;

    }

    .contiene5Cajas {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 200px;
        margin: 40px;
    }

    .box {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    #serv {

        border: outset;
        border-radius: 20px;
        height: 250px;
        width: 250px;

    }

    #serv:hover {

        border: outset;
        border-radius: 20px;
        height: 200px;
        width: 200px;
        margin: 20px;
        -webkit-transform:scale(1.5);transform:scale(1.5);
        overflow: hidden;
    }

    .tituloSucursal{
        margin-left: 30px;
    }

    .contieneTodo{

        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;

    }

    .contieneTodoServicios {

        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;

    }

    iframe{
        width: 50%;
        margin-left: 130px;
        margin-top: 100px;
        padding: 30px;
    }

    .contieneSucursales{

        width: 50%;
        height: 800px;
        display: flex;
        flex-direction: column;

    }

    .sucursales{

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 80px;
    }

    .direccion{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .direccion p{
        font-size: large;
    }


    .telefonos{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 30px;
    }

    b{

        font-size: large;

    }

    #posventa{
        margin-left: 100px;
    }

    .posventaS{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
    }

    .textoPVTA{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }

    .tituloRecall{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tituloRecall h6{
        font-size: large;
        font-weight: 400;
    }
    
    .contiene2Recall{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
    }

    .recalluno{
        display: flex;
        flex-direction: column;
        align-items: f;
        justify-content: center;
        width: 50%;
        margin: 20px;
        padding: 15px;
    }

    .recalluno h3 {

        text-align: left;

    }

    .recalluno h6 {

        text-align: left;
        font-size: large;
        font-weight: 400;

    }

    .garantia{
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .garantia img {
        margin: 20px;
        
    }

    .garantia p{
        text-align: center;
        padding: 10px 50px 15px 50px;
    }

    .garantia h3{
        text-align: center;
        font-weight: bold;
        padding: 10px 50px 15px 50px;
    }

    /*BOTON WHATSAPP */
    
    .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    margin-top:13px;
}

}